.main {
  background-color: $grey-extralight;
  min-height: 100%;
  position: relative;
}
.main__header {
  position: absolute;
  top: 0;
  padding: 2px 5px 25px;
  margin: 5px 0;
  height: 1.1rem;
}
.main__container {
  max-width: $break-xl;
  max-height: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  background-color: rgba(255,255,255,0.8);
  @media all and (max-width: $break-s) {
    padding: 10px 25px;
    width: 95%;
  }
  @media all and (min-width: $break-s) {
    padding: 25px;
    width: 75%;
  }
}
.main__logo {
  width: 100%;
  margin: 0 auto;
  > a {
    border-bottom: none;
  }
}
.main__logo img {
  width: 100%;
  height: auto;
  padding-left: 15%;
  padding-right: 15%;
}
.main__message {
  margin-top: 20px;
  padding-right: 15px;
  font-size: 18px;
  font-family: $font-rale;
  color: $grey-dark;
  @media all and (max-width: $break-xs) {
    font-size: 14px;
  }
}
.main__footer {
  @include size(100%, 45px);
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 25px 5px 5px;
  @media all and (max-width: $break-m) {
    font-size: 0.8rem;
  }
  @media all and (max-width: $break-s) {
    font-size: 0.7rem;
  }
  > a {
    color: $grey-medium;
  }
}
